*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
}
body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.Container{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.sidebar{
    width: 200px;
    background-color: #333;
    color: white;
    height: 100vh;
    padding: 20px;
    user-select: none;
}

.sidebar nav ul li a:hover {
    background-color: #444;
    transform: scaleX(1.05);
    border-radius: 12px;
    padding: 0 5px 0 6px;
}

.logo{
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}
.menu nav ul{
list-style: none;
}
.menu nav ul li{
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.menu nav ul li a{
    color: white;
    text-decoration: none;
    position: relative;
}

.menu nav ul li a:before{
    content: '';
    height: 1px;
    background-color: white;
    border-radius: 12px;
    position: absolute;
    bottom: 0;
    transition: all 0.5s ease;
    width: 90%;
    left: -5px;
    opacity: 0;
}

.menu nav ul li a:hover:before{
    opacity: 1;
    left: 4px;
}

.main-content{
    height: 100%;
    flex-grow: 1;
    padding: 20px;
    background-color: whitesmoke;   
}
.Home{
    margin-top: 20px;
}
.header{
    background-color: #333;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0,1);
    padding: 20px;
    text-align: center;
}
.cards{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.card{
    background-color: rgb(214, 214, 214);
    padding: 50px 20px 50px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0,1);
    flex: 1;
    border-radius: 15px;
    cursor: pointer;
}

/* barang masuk */
.content{
    width: 100vw;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.good-table {
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 4px rgb(0, 0, 1);
    border-collapse: collapse;

}

.good-table th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.good-table thead{
    background-color: #333;
    color: white;
}

.good-table tbody tr:hover{
    background-color: rgb(237, 235, 235);

}

/* end barang masuk */